name: Publish afrikit-web to npm

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: npm

    permissions:
      contents: write
      id-token: write

    steps:
      # Step 1: Checkout the main branch
      - name: Checkout main branch
        uses: actions/checkout@v4

      # Step 2: Set up Node.js with npm registry
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: yarn install
        env:
          GH_PAT: ${{ secrets.GH_PAT }}

      # Step 4: Build the project
      - name: Build project
        run: yarn build

      # Step 5: Bump version automatically (patch by default, can be changed to minor/major)
      - name: Bump version and commit changes
        run: |
          yarn version --patch --no-git-tag-version  # Bump version
          git config --global user.email "developers@afrinvest.com"
          git config --global user.name "Afrinvest"
          git add package.json
          git commit -m "Bump version [skip ci]"
          git push origin HEAD:main

      # Step 6: Push the tag to GitHub
      - name: Tag version and push
        run: |
          VERSION=$(cat package.json | jq -r '.version')  # Get the new version
          git tag "v$VERSION"  # Create a new tag
          git push origin "v$VERSION"  # Push the tag

      # Step 7: Publish the package to npm with provenance
      - name: Publish package
        run: npm publish --access public --provenance
